<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <!-- linked files -->
  <script type="text/javascript" src="../javascript/load.js"></script>
  <meta charset="utf-8">
  <title>ScriptMania | Menu</title>
</head>
<body>
</body>
</html>
