
.header {
  /* text */
  font-size: 5em;
  /* positioning */
  text-align: center;
}

.subheader {
  /* text */
  font-size: 2em;
  /* positioning */
  text-align: center;
}

body {
  /* positioning */
  margin: 0;
  /* text */
  font-family: Sans-serif, Arial;
}

.one {
  /* text */
  font-size: 4em;
  /* positioning */
  position: absolute;
  bottom: 7.5em;
  left: 7.5em;
}

.two {
  /* text */
  font-size: 4em;
  /* positioning */
  position: absolute;
  bottom: 7.5em;
  left: 12em;
}

.three {
  /* text */
  font-size: 4em;
  /* positioning */
  position: absolute;
  bottom: 7.5em;
  right: 12em;
}

.four {
  /* text */
  font-size: 4em;
  /* positioning */
  position: absolute;
  bottom: 7.5em;
  right: 7.5em;
}

.record {
  /* text */
  font-size: 4em;
  /* positioning */
  position: absolute;
  bottom: 4em;
  left: 13em;
}

.record:hover {
  /* text */
  text-decoration: underline;
  /* cursor */
  cursor: pointer;
}

.back {
  /* text */
  font-size: 2.8em;
  /* positioning */
  position: absolute;
  top: 0em;
  left: 0.15em;
}

.back:hover {
  /* text */
  text-decoration: underline;
  /* cursor */
  cursor: pointer;
}

.disable-select {
  /* text */
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}
