
.header {
  /* text */
  font-size: 5em;
  /* positioning */
  text-align: center;
}

body {
  /* positioning */
  margin: 0;
  /* text */
  font-family: Sans-serif, Arial;
}


.play {
  /* text */
  font-size: 4em;
  /* positioning */
  position: absolute;
  bottom: 8em;
  left: 8em;
}

.editor {
  /* text */
  font-size: 4em;
  /* positioning */
  position: absolute;
  bottom: 8em;
  right: 8em;
}

.settings {
  /* text */
  font-size: 4em;
  /* positioning */
  position: absolute;
  bottom: 0.5em;
  left: 13em;
}

.play:hover, .editor:hover, .settings:hover {
  /* text */
  text-decoration: underline;
  /* cursor */
  cursor: pointer;
}

.disable-select {
  /* text */
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}
