body {
  /* positioning */
  margin: 0;
  /* text */
  font-family: Sans-serif, Arial;
}

.mapSelectArea {
  /* positioning */
  position: fixed;
  right: 1em;
  top: 10em;
  display: inline-block;

  /* size */
  width: 92em;
  height: 49.5em;

  /* outline */
  outline: 2px solid black;

  /* scrolling */
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.mapSelectArea::-webkit-scrollbar {
  display: none;
}

.mapSelectBox {
  /* positioning */
  position: relative;
  float: right;
  margin: 1em;
  clear: both;

  /* size */
  width: 40em;
  height: 5em;

  /* outline */
  outline: 2px solid black;
}

.msTitle {
  /* text */
  font-size: 1.5em;
  /* positioning */
  position: absolute;
  top: 0.2em;
  left: 0.2em;
}

.msDifficulty {
  /* text */
  font-size: 1.5em;
  /* positioning */
  position: absolute;
  bottom: 0.2em;
  left: 0.2em;
}

.miName {
  /* text */
  font-size: 2em;
  /* positioning */
  position: absolute;
  top: 0.2em;
  left: 0.2em;
}

.miCreator {
  /* text */
  font-size: 2em;
  /* positioning */
  position: absolute;
  top: 1.6em;
  left: 0.2em;
}

.miDifficulty {
  /* text */
  font-size: 2em;
  /* positioning */
  position: absolute;
  top: 3em;
  left: 0.2em;
}

.miStats {
  /* text */
  font-size: 2em;
  /* positioning */
  position: absolute;
  top: 4.4em;
  left: 0.2em;
}

.mapInfo {
  /* positioning */
  position: fixed;
  left: 1em;
  top: 1em;

  /* size */
  width: 25em;
  height: 58.5em;

  /* outline */
  outline: 2px solid black;
}

.mapSearch {
  /* positioning */
  position: fixed;
  right: 1em;
  top: 1em;

  /* size */
  width: 92em;
  height: 8em;

  /* outline */
  outline: 2px solid black;
}

.mapSearchText {
  /* text */
  font-size: 2em;
  /* positioning */
  position: absolute;
  top: 0.4em;
  left: 0.2em;
}

.mapSearchBar {
  /* text */
  font-size: 2em;
  /* positioning */
  position: absolute;
  top: 0.4em;
  left: 4em;
}
